<% begin %>
	<% if @mode=="new"%>
		<% if (@Categorytype.new_record? == false) %>
			window.parent.updateData("new","<%=escape_javascript(render(:partial => "shared/categorytype"))%>","0");
			alert('<%=@Categorytype.name%> sucessfully created!');
			$("#categorytype_name").val("");
			$("#categorytype_name").focus();
		<% else %>
			alert('Error creating Category type');
		<%end%>		
	<% else %>
		str = " <tr id='r<%=@Categorytype.id%>'> " +
			  " <td><input type='checkbox' id='r<%=@Categorytype.id%>' name='ps[]'/></td> " +
			  " <td><%=@Categorytype.name %></td>  ";
			  <% if !@Categorytype.created_at.nil?  %>
				str += " <td><%=@Categorytype.created_at.strftime('%Y-%m-%d')%> </td>";
			  <% end %>
			  str += " 	</td> ";
			  <% if @Categorytype.status.nil? %>
				str += "<td>Active</td>";
			  <% else %>
				str += "<td>Inactive</td>";
			  <% end %>
			  str += "<td><img src='assets/delete.png' /></td>";
			  str += "</tr>";
			window.parent.updateData("edit",str,"r<%=@Categorytype.id%>");
			<!-- alert('<%=@Categorytype.name%> successfully updated!'); -->
			window.parent.closeWindow("r<%=@Categorytype.id%>");
			<!-- window.parent.document.getElementById("btnClose").click(); -->
	<% end %>
<% rescue Exception => e %>
	<% puts e.message %>
<% end %>

